/* PhotoGallery.css */

/* Style for each gallery item */
.gallery-item {
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    width: 50%; /* Set the width to 50% */
    max-height: 300px; /* Define a maximum height for consistency */
    display: inline-block; /* Make the gallery items inline */
    vertical-align: top; /* Align items to the top of the container */
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%; /* Ensure the images fill their parent container */
  }
  